<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>

      <!-- WARNING:
           To prevent an exposure of a security vulnerability, ensure that at least one of the following settings is configured appropriately:
             - The setting 'Sitecore.Services.AllowItemServiceAnonymousUser'/'Sitecore.Services.AllowAnonymousUser' is set to 'false' OR
             - The setting 'ExposeSearchToServiceAnonymousUser' is set to 'false' OR
             - The setting 'ApplySearchFilterForServiceAnonymousUser' is set to 'true'.

           Failing to configure these settings properly may result in unintended anonymous access to protected content.
      -->

      <setting name="Sitecore.Support.Services.ExposeSearchToServiceAnonymousUser" value="false" />

      <!-- if you change value of the setting, the search indexes must be rebuilt. -->
      <setting name="Sitecore.Support.Services.ApplySearchFilterForServiceAnonymousUser" value="false" />
    </settings>

    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration search:require="solr">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_serviceAnonymousHasAccess" returnType="bool">Sitecore.Support.PDXP11460.ComputedFields.ServicesAnonymousUserHasAccess, Sitecore.Support.PDXP-11460</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
        <defaultLuceneIndexConfiguration search:require="lucene">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_serviceAnonymousHasAccess">Sitecore.Support.PDXP11460.ComputedFields.ServicesAnonymousUserHasAccess, Sitecore.Support.PDXP-11460</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
		<defaultCloudIndexConfiguration search:require="Azure">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_serviceAnonymousHasAccess">Sitecore.Support.PDXP11460.ComputedFields.ServicesAnonymousUserHasAccess, Sitecore.Support.PDXP-11460</field>
            </fields>
          </documentOptions>
		</defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

    <pipelines>
      <contentSearch.getGlobalSearchFilters>
        <processor type="Sitecore.Support.PDXP11460.Pipelines.GetGlobalFilters.ApplyServiceAnonymousUserFilter, Sitecore.Support.PDXP-11460" resolve="true" />
      </contentSearch.getGlobalSearchFilters>
    </pipelines>

    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <filters hint="list:AddFilter">
            <filter desc="SscSearchAuthorizationFilter" patch:after="filter[@desc='AnonymousUserFilter']">Sitecore.Support.PDXP11460.Filters.SscSearchAuthorizationFilter, Sitecore.Support.PDXP-11460</filter>
          </filters>
        </configuration>
      </services>
    </api>

  </sitecore>
</configuration>
